body {
    background: #FFFFFF;
    background-image: -webkit-radial-gradient(center, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0) 75%);
    background-image: radial-gradient(center, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0) 75%);
    overflow: hidden;
    margin: 0;
}
.instructions {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 50;
    /*color: white;*/
    letter-spacing: 0.1em;
}